* { list-style: none;   /* 공통 css */
    margin: 0px;
    padding: 0px;
    line-height: 180%;
    text-decoration: none;
    box-sizing: border-box;

}

#allWrap{   /* 전체 묶어주기 */
    width: 1200px;
    margin: 0 auto;
}

#headerTop{ /* 헤더 */
    display: flex;
justify-content: space-between;
}

#headerTR>input{ padding: 5px;}


#headerBtm{
    text-align: center;
    border-bottom: 3px solid #74bbbe;
}

#mainInner{ /* 메인 배열 */
    margin-top: 30px;
    min-height: 700px;
}
.topLine{
    border-top: 3px solid #74bbbe;
    padding: 15px;
}

 

    #footer{ 
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }



    /* mainMenu 쪽 CSS */

    #mainMenu > div{
        padding: 5px;
    }
    
    a{text-decoration: none; color: black; font-size: 16px; font-weight: bold;}


  #main{
    width: 1100px;
    margin: 0 auto;
  }

  #blackline{
    height: 10px;
    border-bottom: black 2px solid;
  }

  #main > div > input{
    width: 1100px;
    height: 35px;
    margin: 5px 0px;
    text-align: center;
    font-size: 15px;
    
  }
  #main > div > select{
    width: 1100px;
    height: 35px;
    margin: 5px 0px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
  }
  #main > div > textarea{
    width: 1100px;
    height: 600px;
    resize: none;   /* 사이즈 변경불가. */
    margin: 20px 0px;
    padding: 20px;
    font-size: 15px;
}

#main > div > button{
    width: 1100px;
    background-color:  #74bbbe;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border: none;
    padding: 10px 0px;
    margin-bottom: 30px;

}
#main > div > button:hover{
    width: 1100px;
    background-color:  #38b4b8;
    text-decoration: underline;
    cursor: pointer;
    

}