
/* 
    // 중앙 컨텐츠 920px
    // 게시판 부분 높이 700px

*/
* { list-style: none;   /* 공통 css */
    margin: 0px;
    padding: 0px;
    line-height: 180%;
    text-decoration: none

}

#allWrap{   /* 전체 묶어주기 */
    width: 1200px;
    margin: 0 auto;
}

#headerTop{ /* 헤더 */
    display: flex;
justify-content: space-between;
}

#headerTR>input{ padding: 5px;}


#headerBtm{
    text-align: center;
    border-bottom: 3px solid #74bbbe;
}

#mainInner{ /* 메인 배열 */
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

    .topLine{
        border-top: 3px solid #74bbbe;
        padding: 15px;
    }


    #mainInnerL{/* 메인 L */
        width: 250px;
        text-align: left;
    }

        #myInfo{    /* 내 정보 */
            font-weight: bold;
        }

        #cafeSignup{     /* 카페 가입하기 버튼 */
            margin-top: 10px;
            text-align: center;
            border: 1px solid gray;
            border-radius: 10px;
            background-color: gray;
            padding: 5px 0px;
            color: white;
        }
        
        #cafeSignup:hover{
            text-decoration: underline;
            cursor: pointer;
        }

        
        #cafeWrite{     /* 카페 글 쓰기 버튼 */
            margin-top: 10px;
            text-align: center;
            border: 1px solid #74bbbe;
            border-radius: 10px;
            background-color: #74bbbe;
            padding: 5px 0px;
            color: white;
        }
        
        #cafeWrite:hover{
            text-decoration: underline;
            cursor: pointer;
        }

    #mainMenu{
        min-height: 700px;
    }


    #mainInnerR{    /*참고 !! 메인 이너 size !! 참고*/
        width: 920px;
    }

    


    #footer{ 
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }




    /* mainMenu 쪽 CSS */

    #mainMenu > div{
        padding: 5px;
    }
    
    a{text-decoration: none; color: black; font-size: 16px; font-weight: bold;}

    
/* 중앙컨텐츠 시작 */


#teachRwap{
    width: 800px;
    margin: 0 auto;
    margin-top: 40px;
}
#teacherPageMain{
    width: 800px;
    height: 280px;
    display: block;
    margin: 0 auto;
    /* 고정 사이즈 사용시 : 원본 사이즈 비율 깨질수있음.*/
    object-fit: cover; /* 비율유지 */
    border-radius: 20px;
    
    
}
#teachMeinBox{
    border: 1px solid #e8e8e8e8;
}

#teachMein{
    display: flex;
    justify-content: space-evenly;
}
#teachMein > li{
    font-size: 25px;
    font-weight: bold;
    border: 1px solid #e8e8e8e8;
    width: 200px;
    text-align: center;
}


#teachControloBox{
    border: 1px solid #e8e8e8e8;
}

#teachControl{
    display: flex;
    justify-content: space-evenly;
}

#teachControl > li{
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #e8e8e8e8;
    width: 200px;
    text-align: center;
}

#teachControl select{
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #e8e8e8e8;
    width: 200px;
    height: 40px;
    text-align: center;
}

