
/* 
    // 중앙 컨텐츠 920px
    // 게시판 부분 높이 700px

*/
ul , li , a {text-decoration: none; list-style-type: none; box-sizing: border-box;}

* { list-style: none;   /* 공통 css */
    margin: 0px;
    padding: 0px;
    line-height: 180%;
    text-decoration: none

}

#allWrap{   /* 전체 묶어주기 */
    width: 1200px;
    margin: 0 auto;
}

#headerTop{ /* 헤더 */
    display: flex;
justify-content: space-between;
}

#headerTR>input{ padding: 5px;}


#headerBtm{
    text-align: center;
    border-bottom: 3px solid #74bbbe;
}
 
#mainInner{ /* 메인 배열 */
    
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

    .topLine{
        border-top: 3px solid #74bbbe;
        padding: 15px;
    }


    #mainInnerL{/* 메인 L */
        width: 250px;
        text-align: left;
       
    }

        #myInfo{    /* 내 정보 */
            font-weight: bold;
        }

        #cafeSignup{     /* 카페 가입하기 버튼 */
            margin-top: 10px;
            text-align: center;
            border: 1px solid gray;
            border-radius: 10px;
            background-color: gray;
            padding: 5px 0px;
            color: white;
        }
        
        #cafeSignup:hover{
            text-decoration: underline;
            cursor: pointer;
        }

        
        #cafeWrite{     /* 카페 글 쓰기 버튼 */
            margin-top: 10px;
            text-align: center;
            border: 1px solid #74bbbe;
            border-radius: 10px;
            background-color: #74bbbe;
            padding: 5px 0px;
            color: white;
        }
        
        #cafeWrite:hover{
            text-decoration: underline;
            cursor: pointer;
            background-color: #40bcc1;
        }

    #mainMenu{
        min-height: 700px;
    }


    #mainInnerR{    /*참고 !! 메인 이너 size !! 참고*/
        width: 920px;
    }

    


    #footer{ 
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }




    /* mainMenu 쪽 CSS */


    a{text-decoration: none; color: black; font-size: 16px; font-weight: bold;}

    .mainMenuS{
        padding: 8px 30px;
        border-top: 1px solid #e8e8e8;
        color: rgb(159, 159, 159);
    }

    .mainMenuS:hover{
        cursor: pointer;
        text-decoration: underline;
        color: black;
    }

/* 중앙컨텐츠 시작 */


#teacherPageMain{
    width: 100%;
    height: 240px;
    display: block;
    margin: 0 auto;
    /* 고정 사이즈 사용시 : 원본 사이즈 비율 깨질수있음.*/
    object-fit: cover; /* 비율유지 */
    
    
}

#teachControloBox{
    border: 1px solid #e8e8e8e8;
}

#teachControl{
    display: flex;
    justify-content: space-evenly;
}

#teachControl > li{
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #e8e8e8e8;
    width: 200px;
    text-align: center;
}

#teachControl select{
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #e8e8e8e8;
    width: 200px;
    height: 40px;
    text-align: center;
}
/* 송아 css 수정 */

table {
    border: 1px solid black;
    width: 920px;
    text-align: center;
    margin-bottom: 100px;
}
table tr th {
    border:  1px solid black;
    padding: 10px ;
}
table tr td {
    border: 1px solid black;
    padding: 10px;
}
h3 {
    margin: 20px 0 15px;
}

